.container{
    height: calc(100vh - 100px);
    background-color: rgb(0, 0, 54);
    width: 100vb;
    border-radius: 20px;
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container>.d-flex{
    color:white ;
}
form{
    color: wheat;
}
.form-control{
    width: 400px;
    
}
form>div{
    margin: 10px 0;
}
button[type=submit]{
    width: 400px;
}
/* login css */
.login-container{
    height: 50vh;
    width: 720px;
    transform: translateY(100px);
}
.check-box-group>.form-check{
    margin: 20px;
}
.check-box-group>.form-check>input{
    margin-right: 20px;
}
