.single-khata-container{
width: 100%;
height: 100%;
}
.details-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.filter-buttons{
    display: flex;
    gap: 40px;
    margin-top: 30px;
}
.table>table{
    width: 100%;
}
.table>div{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}
.table>div>button{
    width: 200px;
}
button:hover{
    background-color: rgb(0, 0, 54) !important;
    color: wheat !important;
}

.total{
position: fixed;
bottom: 10px;
width: 100%;
padding: 10px 30px;
background-color: rgb(0, 4, 255);
}
td{
    padding:0px 20px ;
    border: 1px solid black;
}
td>button{
    margin: 10px 10px;
  
}


